h3,
p,
body {
  margin: 0;
}

body {
  min-height: 100vh;
}

/* 헤더 영역 */

.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile {
  width: 50px;
  height: 50px;
  background-color: skyblue;
  border-radius: 50%;
}

.github {
  width: 30px;
  height: 30px;
}

/* 메인 영역 */

.main {
  padding-top: 90px;
}
