/* 공통 */

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h2,
h3,
p,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #efefef;
  width: 100%;
}

section {
  scroll-margin-top: 90px;
}

section > h3 {
  margin: 20px 0;
}

.profile:hover,
.hero-profile:hover {
  box-shadow: 1px 1px 3px black;
}

/* 헤더 영역 */

.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile {
  width: 50px;
  height: 50px;
  background-color: skyblue;
  border-radius: 50%;
}

.github {
  width: 30px;
  height: 30px;
}

/* 메인 영역 */

.main {
  padding-top: 90px;
  display: flex;
  flex: 1;
  width: 100%;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 30px;
  min-width: 0;
}

/* 사이드바 */

.sidebar {
  width: 200px;
  padding: 20px;
}

.sidebar > ul {
  gap: 4px;
  list-style: none;
  padding: 20px;
  margin: 0;
}

.sidebar a {
  text-decoration: none;
  color: black;
}

.menu-item {
  padding: 8px;
}

.sidebar li:hover {
  background-color: #bbd8ff;
  border-radius: 4px;
}

.menu-item:first-child:hover {
  border-radius: 12px 12px 4px 4px;
}

.menu-item:last-child:hover {
  border-radius: 4px 4px 12px 12px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  position: sticky;
  top: 120px;
}

/* 히어로 영역 */

.hero {
  background-color: #ffddee;
  display: flex;
  gap: 30px;
  padding: 30px;
}

.hero-profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.hero-button-container {
  display: flex;
  gap: 10px;
}

.hero-button {
  background-color: #eb9aff;
  padding: 6px 8px;
  border-radius: 12px;
  color: black;
  text-decoration: none;
}

.github:hover,
.profile:hover,
.hero-profile:hover,
.hero-button:hover,
.gallery-image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

/* 스킬 태그 섹션 */

.skill-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  padding: 8px;
  background-color: #abb1fc;
  border-radius: 30px;
}

/* 나의 모습 */

.card-container {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
  box-shadow: 1px 1px 10px gray;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart-icon {
  width: 20px;
  height: 20px;
  padding: 4px;
  background-color: pink;
  border-radius: 50%;
}

.heart-icon:hover {
  background-color: hotpink;
}

.card-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.card-content {
  padding: 15px 20px;
}

.card-content p {
  margin-top: 10px;
}

/* 사진첩/갤러리 */

.gallery-container {
  display: flex;
  padding: 10px;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.gallery-group {
  display: flex;
  gap: 20px;
  will-change: transform;
  padding-right: 20px;
  animation: scrolling 14s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.gallery-group:hover {
  animation-play-state: paused;
}

.gallery-image {
  width: 250px;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 12px;
}

/* 한마디 */

.message {
  margin-bottom: 50px;
}

/* 푸터 */

.footer {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #dddddd;
}
