h2,
h3,
p,
body {
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #efefef;
}

/* 헤더 영역 */

.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
  background-color: white;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.profile {
  width: 50px;
  height: 50px;
  background-color: skyblue;
  border-radius: 50%;
}

.github {
  width: 30px;
  height: 30px;
}

/* 메인 영역 */

.main {
  padding-top: 90px;
  display: flex;
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero {
  width: 100%;
  background-color: #ffddee;
  display: flex;
  gap: 30px;
  padding: 30px;
}

.hero-profile {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.hero-button-container {
  display: flex;
  gap: 10px;
}

.hero-button {
  background-color: #eb9aff;
  padding: 6px 8px;
  border-radius: 12px;
  color: black;
  text-decoration: none;
}

.github:hover,
.profile:hover,
.hero-profile:hover,
.hero-button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.profile:hover,
.hero-profile:hover {
  box-shadow: 1px 1px 3px black;
}

/* 스킬 태그 섹션 */

.skill-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.chip {
  padding: 8px;
  background-color: #abb1fc;
  border-radius: 30px;
}
