.header {
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-200);
}

.header > * {
  flex: 1;
  text-align: center;
}
