.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 10;
  display: none;
}

.modal.show {
  display: flex;
}

.modal__content {
  background-color: var(--white);
  border-radius: 8px;
  padding: 24px;
  width: 90%;
  max-width: 500px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
}

.modal__close-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.modal__close-btn:hover {
  background-color: var(--primary-100);
  border-radius: 8px;
}

.modal__input {
  height: 36px;
}

.modal__input,
.modal__select {
  flex: 1;
  border-radius: 12px;
  border: 1px solid gray;
  padding: 12px;
}

.modal__input:focus,
.modal__select:focus {
  border: 1.5px solid var(--primary-500);
  outline: none;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 24px;
}

.modal__inner-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.modal__add-btn {
  margin-top: 24px;
  padding: 12px;
  background-color: var(--primary-400);
  border-radius: 8px;
  color: var(--white);
}
