html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
}

button {
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: var(--primary-50);
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1200px;
  width: 100%;
  gap: 32px;
  padding: 90px 20px 0 20px;
}
