:root {
  --primary-600: #1e3a8a;
  --primary-500: #3d569a;
  --primary-400: #6174ad;
  --primary-300: #8493bf;
  --primary-200: #aab5d3;
  --primary-100: #d0d6e7;
  --primary-50: #f0f2f7;
  --white: #ffffff;
}
